body {

  margin: 0;

  }

/****************   Nav Section **********************/
nav {
	
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;

}

/***********************  Footer Section   **************************/
footer {
	
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 1rem;

}

/*********** Splash Page ************************/
header {

  padding: 2rem;
  text-align: center;
  background-color: #f0f0f0;

}

header h1 {

  font-family: Arial;
  color: black;
  
}

header img {
  border: 2px solid #333;
  border-radius: 50%;
  
}

.address {
  font-style: italic;
 
}

.tagline {
  font-weight: bold;
}

/************* Sections ********************/
hr {

}

section h3 {
  font-family: 'Montserrat', sans-serif;
  color: #555555;
  
}

section dl {
  display: grid;
  grid-template-columns: auto 1fr;
  
}

section ul {
  list-style-type: square;
}

section a {
  color: blue;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

}

.card img {
  width: 100%;

}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
    }

    .three-col {
      grid-template-columns: 1fr;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;

}

textarea {
  padding: 0.5rem;
   
}